# TUGAS DATA MINING 3

In [3]:
import numpy as np
import pandas as pd

In [4]:
insurance = pd.read_csv('G:\Kuliah\Data Mining\Transformasi Data\Tugas\insurancefix.csv')
insurance.tail()

      age     sex     bmi smoker      charges
343  63.0    MALE  36.765     NO  13981.85035
344  49.0  FEMALE     NaN     NO  10977.20630
345   NaN  FEMALE  29.260     NO   6184.29940
346  33.0    MALE  35.750     NO   4889.99950
347  46.0    MALE  33.345     NO   8334.45755